@media only screen and (max-width: 1200px) {

  .plant-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row { padding: 0 2%; }

  .contact-header ~ div { margin: 0; }
}

@media only screen and (max-width: 1023px) {
  body { font-size: 18px; }
  section { padding: 60px 0; }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .steps-box { margin-top: 10px; }
  .works-step { margin-bottom: 40px;}
  .worker { width: 50%; }

  #map { font-size: 90%; }
  .contact-header ~ .row { padding: 0; }
}

@media only screen and (max-width: 767px) {
  body { font-size: 16px; }
  section { padding: 30px 0; }

  .row, 
  .plant-text-box { padding: 0 4%; }

  .col { width: 100%; }

  .main-nav { display:  none; }
  .mobile-nav-icon { display: inline-block;  }

  .main-nav { 
    float: left; 
    margin-top: 35px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky .main-nav { margin-top: 10px; }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited { padding: 10px 0; }
  .sticky .mobile-nav-icon ion-icon { color: #555; }

  .box img {
    width: 60%;
  }

  .section-projects {
    text-align: center;
  }

  h1 { font-size: 180%; }
  h2 { font-size: 150%; }

  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .steps-box:first-child { text-align: center; }

  .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
  }

  .steps-box { margin-top: 20px; }

  .section-features {
    text-align: center;
  }

  .section-features .col svg {
    margin: 7px auto;
  }

  .map-content a {
    border-bottom: 1px dotted #888; 
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  .contact-header ~ .row { margin-bottom: 13px; }
}