/*********** BASIC SETUP ***********/


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #696868;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*********** REUSABLE COMPONENTS ***********/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*********** HEADINGS ***********/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  display: block;
  height: 2px;
  background-image:
    -webkit-gradient(
      linear,
      left top, right bottom,
      from(rgba(40,180,133,0.7)),
      to(rgba(126,213,111,0.7)));
  background-image:
    linear-gradient(
      to right bottom,
      rgba(40,180,133,0.7),
      rgba(126,213,111,0.7));
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*********** PARAGRAPHS ***********/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/*********** ICONS ***********/

.icon-big {
  display: block;
  margin-bottom: 30px;
  height: 60px;
  fill: url(#myGradient);
}

/*********** BUTTONS ***********/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #696868;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full {
  margin-bottom: 7px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #fff;
  border: 1px solid #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #fff;
  color: #fff;
}

.btn:hover,
.btn:active {
  background-color: #eee;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #eee;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #eee;
  color: #696868;
}



:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*********** HEADER ***********/

header {
  background-image: -webkit-gradient(
    linear,
    left top, right bottom,
    from(rgba(40,180,133,0.7)),
    to(rgba(126,213,111,0.7))), 
    url(img/plant-min.jpg);
  background-image: linear-gradient(
    to right bottom,
    rgba(40,180,133,0.7),
    rgba(126,213,111,0.7)), 
    url(img/plant-min.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.plant-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  height: 120px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-color { 
  display:  none;
  height: 65px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* Main nav */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 25px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #eee;
}

/* Mobile nav */

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

ion-icon {
  font-size: 200%;
  color: #fff;
}

/* Sticky nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.932);
  -webkit-box-shadow: 0 2px 2px rgb(224, 224, 224);
          box-shadow: 0 2px 2px rgb(224, 224, 224);
  z-index: 9999;
}

.sticky .main-nav { margin-top: 25px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 25px 0;
  color: #555;
}

.sticky .main-nav li a:hover {
  border-bottom: 2px solid rgba(40,180,133,0.7);
}

.sticky .logo { display: none; }
.sticky .logo-color { display: block; }

/*********** FEATURES ***********/

.section-features .long-copy {
  margin-bottom: 40px;
}

/*********** IMAGES SECTION ***********/

.section-images {
  padding: 0;
}

.image-showcase {
  list-style: none;
  width: 100%;
}

.image-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.nature-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.nature-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}

.nature-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/*********** STEPS SECTION ***********/

.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  overflow: hidden;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.worker {
  width: 55%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step div {
  color: rgba(40,180,133,0.7);
  border: 2px solid rgba(40,180,133,0.7);
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

/*********** PROJECTS SECTION ***********/

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.projects-icon {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 120%;
  color: rgba(40,180,133,0.7);
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 10px;
} 

.project-feature {
  margin-top: 10px;
}

/*********** LINKS ***********/

ion-icon + a:link,
ion-icon + a:visited {
  color: rgba(40,180,133,0.7);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(40,180,133,0.7);
}

ion-icon + a:hover,
ion-icon + a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}


/*********** TESTIMONIALS ***********/

.section-testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../css//img//testimonials-bg-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../css//img//testimonials-bg-min.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/*********** CONTACT SECTION ***********/

#map {
  height: 500px;
  font-size: 100%;
}

.section-map {
  padding: 0;
  position: relative; 
}

.map-content {
  height: 500px;
  background-color: rgba(240, 240, 240, 0.9);
  position: absolute;
  z-index: 50;
  right: 0;
  width: 50%;
}

.contact-header ~ div {
  margin: 0 45px;
}

.contact-header {
  margin-top: 30px;
}

.contact-link {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

/*********** FOOTER ***********/

footer {
  background-color: #333;
  padding: 40px;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 85%;
}

footer p a:link,
footer p a:visited {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted #888;
}

footer p a:hover {
  color: #ddd;
}

/*********** ANIMATIONS ***********/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated {
  opacity: 1;
}